body {
  font-family: Roboto, Verdana, Tahoma, sans-serif;
  color: $font-lead-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body button {
  cursor: pointer;
}

body img {
  display: block;
}

.container {
  @include container(1200px, 0, 15px)
}

.flexy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.no-style-list {
  @include list(0, 0, none);
}